/* ImageLoader container is responsive to the window size */
.image-loader {
  width: 100%;
  max-width: 1200px;
}

/* Thumb and fullsize images are absolutely positioned and full width,
causing them to completely overlap */
.image-loader img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}